@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 19, 35);
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  font-size: 1.8rem;
}

.form-section,
.summary-section,
.transactions-section {
  margin: 20px 0;
}

input,
select {
  display: inline-block;
  width: calc(50% - 10px);
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px; /* Adjust gap to control spacing between buttons */
}

button {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#addIncome {
  background-color: #009723;
  color: #fff;
}

#addIncome:hover {
  background-color: #006e18;
}

#addExpense {
  background-color: rgb(214, 8, 8);
  color: #fff;
}

#addExpense:hover {
  background-color: rgb(170, 0, 0);
}

#totalIncome {
  background-color: green;
}

#totalExpenses {
  background-color: red;
}

#netIncome {
  background-color: white;
  color: black;
}

p {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

li:hover {
  background-color: #1e1e1e;
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
